PyYAML~=6.0.2

fastapi~=0.115.5
unstructured~=0.16.8
tiktoken~=0.8.0

unstructured[xlsx]
unstructured[pdf]
unstructured[docx]
unstructured[csv]
pandas~=2.2.3

pydantic~=2.10.3
aiofiles~=24.1.0
setuptools~=75.6.0
