aiofiles~=24.1.0
asyncio~=3.4.3
PyYAML~=6.0.2
pydantic~=2.10.3
setuptools~=75.6.0

unstructured~=0.16.8
unstructured[xlsx]~=0.16.8
unstructured[pdf]~=0.16.8
unstructured[docx]~=0.16.8
unstructured[csv]~=0.16.8

tiktoken~=0.8.0
tokenizers~=0.20.3
pandas~=2.2.3
